<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Reuters Search Engine</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class="container">
    <fieldset>
      <% if(error !== null){ %>
        <p>
          <%= error %>
        </p>
        <% } %>
          <form action="/" method="post">
            <div class="container-contact100">
              <div class="wrap-contact100">
                <form class="contact100-form validate-form">


                  <span class="contact100-form-title">Search here !</span>

                  <div class="wrap-input100 validate-input" required>
                    <span class="label-input100">Title</span>
                    <input class="input100" type="title" name="title" placeholder="Enter a specific title">
                    <span class="focus-input100"></span>
                  </div>

                  <div class="wrap-input100 validate-input">
                    <span class="label-input100">Topics</span>
                    <input class="input100" type="topics" name="topics" placeholder="Enter a specific topic">
                    <span class="focus-input100"></span>
                  </div>

                  <div class="wrap-input100 validate-input">
                    <span class="label-input100">Places</span>
                    <input class="input100" name="places" placeholder="Enter a specific place">
                    <span class="focus-input100"></span>
                  </div>

                  <div>
                    <div class="wrap-input100 validate-input">
                      <span class="label-input100">Text</span>
                      <input class="input100" name="text" type="text" placeholder="Enter words of the text">
                      <span class="focus-input100"></span>
                    </div>


                    <div class="wrap-input100 input100-select">
                      <span class="label-input100">Agg 1</span>
                      <div>
                        <select class="selection-2" name="agg1">
							<option>None</option>
							<option>places</option>
							<option>topics</option>
						</select>
                      </div>
                      <span class="focus-input100"></span>
                    </div>

                    <div class="wrap-input100 input100-select">
                      <span class="label-input100">Agg2</span>
                      <div>
                        <select class="selection-2" name="agg2">
							<option>None</option>
							<option>places</option>
							<option>topics</option>
						</select>
                      </div>
                      <span class="focus-input100"></span>
                    </div>
                    <div class="container-contact100-form-btn">
                      <div class="wrap-contact100-form-btn">
                        <div class="contact100-form-bgbtn"></div>
                        <input type="submit" class="ghost-button" value="Search">

                      </div>
                    </div>
                </form>
                </div>
              </div>


    </fieldset>

    </div>

    <% if(result !== null){ %>

      <% if(typeof(result.aggregations) == 'undefined' || result.aggregations == null){ %>

        <% for(var i=0; i < result.hits.hits.length; i++) { %>
          <div class="article">


              <h4>  <%= result.hits.hits[i]._source.fields.text.title %> <h4>


           <p >
             <%=  result.hits.hits[i]._source.fields.text.dateline %>

          <br></br>

             <%=  result.hits.hits[i]._source.fields.text.body %>

           </p>

    </div>
<br></br>
                                       <% } %>


     <%} else { %>

        <h2> Aggregate  : </h2>
        <% for(var i = 0 ; i < result.aggregations.group_by.buckets.length ; i++) {%>
          <div>
            <h1> <%= result.aggregations.group_by.buckets[i].key %> <h1>
          </div>
      <%  } %>

     <% } %>

  <% } %>


  </body>
</html>
